@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    position: absolute;
    padding-top: 78px;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    width: 100% auto;
}


:root {

    /*Brand Colors */
    --color-brand-1: #4263EB;
    --color-brand-2: #364FC7;


    /*Grey Colors */
    --color-grey-0: #0A0C0D;
    --color-grey-1: #212529;
    --color-grey-2: #495057;
    --color-grey-3: #868E96;
    --color-grey-4: #DEE2E6;
    --color-grey-5: #F8F9FA;
    --color-grey-opacity: rgba(33, 37, 41, 0.5);
    --color-whiteFixed: #FFFFFF;


    /*Feedback Palette*/
    --color-like: #D7443E;


    /*Font Family*/
    --font-family: 'Inter', sans-serif;
    
    
    /*Font Weight*/
    --font-weight-title-1: 700;
    --font-weight-title-2: 600;
    --font-weight-text-1: 400;
    --font-weight-text-2: 400;
    --font-weight-text-3: 400;


    /*Font Size*/
    --font-size-title-1: 1.75rem;
    --font-size-title-2: 1.25rem;
    --font-size-text-1: 1rem;
    --font-size-text-2: 0.875rem;
    --font-size-text-3: 0.75rem;


    /*Line Height*/
    --line-height-title-1: 2.5rem;
    --line-height-title-2: 1.5rem;
    --line-height-text-1: 1.75rem;
    --line-height-text-2: 1rem;
    --line-height-text-3: 1rem;

    /*Border Radius*/
    --radius-1: 4px;
    --radius-2: 8px;
}



header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 30px 100px 30px 100px;
    background-color: var(--color-grey-1);
    display: flex;
    justify-content: space-between;
}

.header__text {
    color: var(--color-whiteFixed);
    font-family: var(--font-family);
    font-weight: var(--font-weight-text-2);
    font-size: var(--font-size-text-2);
    line-height: var(--line-height-text-2);
    cursor: pointer;
}




main {
    width: 90% auto;
    padding-left: 100px;
}   



button {
    font-family: var(--font-family);
    height: 36px;
    padding: 0 16px;
    border-radius: var(--radius-1);
    cursor: pointer;
}

.text2--bold {
    font-weight: 600;
    font-size: var(--font-size-text-2);
}