/*CRIAÇÃO DE POST E SUGESTÕES - (main__createPost-suggestions)*/
.createPost__user {
    margin-top: 4.875rem;
    display: flex;
    gap: 0.75rem;
    /* margin-bottom: 10px; */
}

.createPost__user-data {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
}


/*CRIAÇÃO DE UM NOVO POST - (createPost__container)*/
.createPost__container {
    width: 60%;
}


/*FORM DE CRIAÇÃO DE UM NOVO POST - (form__container)*/
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.form__button {
    height: 40px;
    /* width: 75.4px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: end;
    background-color: var(--color-brand-1);
    color: var(--color-whiteFixed);
}

.form__button:hover {
    background-color: var(--color-brand-2);
}


input {
    margin-top: 16px;
    height: 60px;
    font-family: var(--font-family);
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0 0 0 12px;

}

input:focus {
    border-color: var(--color-brand-2);
}

.form__input {
    font-size: var(--font-size-text-1);
    color: var(--color-grey-2);
    border: 2px solid var(--color-grey-4);
}


textarea {
    display: flex;
    flex-direction: row;
    resize: none;
    padding: 20px 0 0 12px;
    
}

.form__description {
    font-size: var(--font-size-text-1);
    color: var(--color-grey-2);
    border: 2px solid var(--color-grey-4);
    width: 100%;
    height: 180px;
    line-height: 20px;
}

textarea:focus {
    border-color: var(--color-brand-2);

}


/*SUGESTÕES PARA SEGUIR - (suggestions__container)*/

.main__createPost-suggestions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.625rem;
}

.suggestions__container {
    margin-top: 50px;
    padding-right: 100px; /*Ver se tem necessidade de colocá-lo*/
}

.suggestions__forYou {
    margin-bottom: 20px;
}

.suggestions__list-users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.suggestions__user {
   display: flex;
   gap: 20px;
   margin-bottom: 30px;
}

.suggestion__user-data {
    white-space: nowrap;
}

.suggestion__user-buttonFollow {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-whiteFixed);
    color: var(--color-grey-1);
    border: 1px solid var(--color-grey-1);
    border-radius: 0;
    height: 30px;
    margin-bottom: 15px;
}

.suggestion__user-buttonFollow:hover {
    background-color: var(--color-whiteFixed);
    color: var(--color-brand-2);
    border-color: var(--color-brand-2);
}

/*LISTAGEM DE POSTS - (article__container)*/
.article__container {
    width: 60%;
}

.articles__allPosts-list {
    margin: 60px 0px 80px 0px;
}

.article__user {
    display: flex;
    gap: 12px;
}

.article__user-data {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
    margin-bottom: 50px;
}


.article__user-title-post {
    /* width: 100%; 
    margin-bottom: 25px; */
}

.article__user-content-post {
    margin-top: 30px;
    /* width: 70%; 
    margin: 0;  */
}

.article__otherActions-interaction {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 35px 0px;
    align-self: center;
    /* text-align: center; */
}

.article__button-openPost {
    background-color: var(--color-grey-1);
    color: var(--color-whiteFixed);
    margin-bottom: 50px;
}

.article__button-openPost:hover {
    background-color: var(--color-grey-0);
}

.article__likes-number {
    display: flex;
    align-items: start;
    padding-top: 9px;
    gap: 8px;
}


.article__numberLikes-post {
    display: flex;
    flex-direction: row;
    padding-top: 2.5px;
}


/*MEDIA QUERY para telas abaixo de 1025px*/
@media (max-width: 1024px) {
    
    .main__createPost-suggestions {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    .createPost__container {
        width: 100%;
    }
    
    /*Section suggestions*/
    .suggestions__container {
        width: 100%;
        display: flex;
        flex-direction: column; 
        padding: 0;
    }
    /*Título da sessão de sugestões*/
    .suggestions__forYou {
        width: 100%;
        display: flex;
        margin-bottom: 3.75rem;
    }

    /*Ul*/
    .suggestions__users-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    /*LI - Contém todos os elementos*/
    .suggestions__list-users {
        min-width: 8.125rem;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding: 0px 30px 0px 0px;
        gap: 0;
    }
    /*Div que contém imagem, nome e ocupação*/
    .suggestions__user {
        display: flex;
    }
    /*Div que contém nome e ocupação*/
    .suggestion__user-data {
        display: flex;
        flex-direction: column;
        gap: 0.3125rem;
    }
    /*Botão*/
    .suggestion__user-buttonFollow {
        display: flex;
        align-items: center;
        width: 5rem;
    }
}


/*MEDIA QUERY para telas abaixo de 860px*/
/*640px*/
@media (max-width: 860px) {
    
    .main__createPost-suggestions {
        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
    }

    .createPost__container {
        width: 100%;
    }
    
    /*Section suggestions*/
    .suggestions__container {
        width: 100%;
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
        padding: 0;
        overflow-x: scroll;
    }
    /*Título da sessão de sugestões*/
    .suggestions__forYou {
        width: 100%;
        display: flex;
        margin-bottom: 3.75rem;
    }

    /*Ul*/
    .suggestions__users-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 3rem;
        white-space: nowrap;
        overflow-y: auto;
        overflow-x: auto;
    }
    /*LI - Contém todos os elementos*/
    .suggestions__list-users {
        min-width: 8.125rem;
        display: flex;
        flex-direction: column;
    }
    /*Div que contém imagem, nome e ocupação*/
    .suggestions__user {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    /*Div que contém nome e ocupação*/
    .suggestion__user-data {
        display: flex;
        flex-direction: column;
        gap: 0.3125rem;
    }
    /*Botão*/
    .suggestion__user-buttonFollow {
        display: flex;
        align-items: center;
        width: 5rem;
    }
}